@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-image: url("/bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

/* DARK MODE LOOKING SCROLLER */

::-webkit-scrollbar {
    width : 8px;
}

::-webkit-scrollbar-track {
    background: #555;
}

::-webkit-scrollbar-thumb {
    background: #121212;
    border-radius : 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: #242424;
}
